# Editor files
.idea

# Binaries, plugins, libs
*.dll
*.dylib
*.exe
*.exe~
*.so

# Testing
*.test
*.tmp

# Assets
assets/models/*
assets/textures/*

# Private
.env

# Build
public
web/src/node_modules